 .link-sale .link-sale-a {
    height: 9rem;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.7rem;
    padding: 0 1.6rem 0 2.5rem;

    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: block;
    flex-items: center
}
.link-sale .link-sale-a .text {
    float: left;
    margin-top: 1.5rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    display: block;

}

 .link-sale .link-sale-a .text i {
    display: block;
    font-style: normal
}

 .link-sale .link-sale-a .text .p1 {
    font-size: 1.8rem;
    font-weight: bold
}
 .link-sale .link-sale-a .text .p2 {
    font-size: 1.2rem
}
 .link-sale .link-sale-a .text .p3 {
    font-size: 1rem;
    color: #999
}
.link-sale .link-sale-a img {
    float:right;
    width: 160px;
    height: 86px;
    margin-top: 6px;
    overflow: hidden;
}

 .link-sale .zone1 {
    color: #673bb8
}

 .link-sale .zone2 {
    color: #7cd230
}

 .link-sale .zone3 {
    color: #1f96f3
}

 .link-sale .zone4 {
    color: #fe5722
}

 .link-sale .zone5 {
    color: #fec10a
}
