@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
	letter-spacing: -0.2px;
}

a {
	background: transparent;
	text-decoration: none;
}

a:hover,
a:active {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

mark {
	background: #ff0;
	color: #000;
}

code,
kbd,
pre,
samp {
	font-family: monospace, serif;
	font-size: 1em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before,
q:after {
	content: '';
	content: none;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
	white-space: normal;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	outline: none;
	-webkit-appearance:none;
}

button,
input {
	line-height: normal;
}

button,
select {
	text-transform: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none !important;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
input[disabled] {
	cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input {
	outline: none;
}

input[type="search"] {
	-webkit-appearance: none;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

img {
	vertical-align: middle;
}

a,
img {
	-webkit-touch-callout: none;
}

label {
	font-weight: normal;
}

textarea {
	resize: vertical;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form {
	margin: 0;
	font-weight: normal;
}

ul,
ol,
li,
dl,
dd {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none outside none;
}

a {
	text-decoration: none;
	color: #333333;
}

::-webkit-scrollbar {
	width: 0;
	display: none;
}

::-webkit-scrollbar-track {
	width: 0;
	display: none;
}

::-webkit-scrollbar-thumb {
	width: 0;
	display: none;
}


/*color: #0088cc; */


/*color: #006699; */

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #cccccc;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #cccccc;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #cccccc;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #cccccc;
}

html,
body {
	background-color: #EBEBEB;
	min-width: 320px;
	max-width: 780px;
	margin: 0 auto;
	font-family: "Arial", "微软雅黑";
	-webkit-tap-highlight-color: transparent;
	font-size: 1.5rem
}

html.scroll,
html.scroll body {
	overflow: hidden;
}

html {
	font-size: 87.5%;
}

@media only screen and (max-width: 375px) {
	html {
		font-size: 62.5%;
	}
}

@media only screen and (max-width: 480px) {
	html {
		font-size: 62.5%;
	}
}
@media only screen and (max-width: 320px) {
	html {
		font-size: 52.5%;
	}
}

* {
	box-sizing: border-box;
}

html.gray,
html.gray body {
	background-color: #EBEBEB;
}

html.height,
html.height body {
	height: 100%;
	overflow: hidden;
}

.clearfix {
	content: '';
	display: table;
	height: 0;
	clear: both;
}

.paddign1 {
	padding: 1rem;
}

.paddign2 {
	padding: 2rem;
}
.paddign-t2 {
	padding-top: 2rem;
}
.paddign-t6 {
	padding-top: 12%;
}
.padding-rl1 {
	padding: 0 1rem;
}

.padding-rl2 {
	padding: 0 2rem;
}

.padding-rl3 {
	padding: 1rem 2rem;
}

.padding-tb1 {
	padding: 1rem 0;
}

.padding-l2 {
	padding-left: 2rem;
}

.padding-t1 {
	padding-top: 1rem;
}

.padding-b1 {
	padding-bottom: 1rem;
}

.padding-lr2 {
	padding: 0 2rem 0 2rem;
}
.padding-lr1 {
	padding: 0 1rem 0 1rem;
}
.mg-bt1 {
	margin: 1rem 0;
}

.mg-bt2 {
	margin: 2rem 0;
}

.mg-b2 {
	margin: 0 0 2rem 0;
}
.mg-b1 {
	margin-bottom: 1rem;
}
.mg-t1 {
	margin-top: 1rem;
}
.mg-t2 {
	margin-top: 2rem;
}
.mg-tb4{
	margin-top: 4rem;
}
.mg-b4{
	margin-bottom: 4rem;
}
.mg1 {
	margin: 1rem;
}
.mg-t10{
	margin-top:10px;
}
.w10 {
	width: 10rem;
}

.w5 {
	width: 5rem;
}

.lineH2 {
	line-height: 2rem;
}

.lh40 {
	line-height: 2.5rem;
}

.lh30 {
	line-height: 2.3rem;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

.rel {
	position: relative;
}

.ab {
	position: absolute;
}

.border-r {
	border-radius: 10px;
}

.red {
	color: #E65252;
}
.orange{
	color: #ee5a18;
}
.orange2{
	color: #f4ad33;
}
.blue{
	color: #137bd7;
}
.blue2{
	color: #1b8eff;
}
.col-666 {
	color: #666666;
}

.col-000 {
	color: #000;
}
.col-fff {
	color: #fff;
}
.green {
	color: #5bca4c;
}

.col-333 {
	color: #333333;
}
.yellow{
	color: #ffe167;
}

.col-999 {
	color: #999999;
}

.font-32 {
	font-size: 2rem;
	vertical-align: middle;
}

.font-20 {
	font-size: 1.25rem;
}

.font-28 {
	font-size: 1.75rem;
}

.font-26 {
	font-size: 1.625rem;
}
.font-50{font-size: 3rem;}
.fb {
	font-weight: bold;
}

.fb2 {
	font-weight: 600;
}

.border-b {
	border-bottom: solid 1px #dddddd;
}

.middle {
	vertical-align: middle;
}
.middle-top {
	vertical-align: top;
}
.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.inline-d {
	display: inline-block;
}

.bg-e4e4e4 {
	background: #e4e4e4;
}

.bg-white,
.bg-white body {
	background-color: #fff;
}

.telephone {
	color: #23A1F1;
}
/*按钮开始*/

.form-submit {
	font-size: 1.625rem;
	display: block;
	width: 100%;
	height: 4.2rem;
	line-height: 4.2rem;
	padding: 0;
	border: 0;
	border-radius: 5px;
	text-align: center;
	color: #fff;
	background-color: #137bd7;
}

.form-submit:active {
	background-color: #6a87e9;
}
.btn-orange{
	background: #ff4200;
	border-radius: 5rem;
	font-size: 1.8rem;
}
.btn-gray{
	background: #cccccc;
	font-size: 1.8rem;
}
/*按钮结束*/
img.radius {
	border-radius: 5rem;
	width: 4rem;
	height: 4rem;
	vertical-align: middle;
	margin-right: 1rem;
	border:solid 2px #fff;
}
img.radius2 {
	border-radius: 5rem;
	width: 4rem;
	height: 4rem;
	vertical-align: top;
	margin-right: 1rem;
}

/*按钮*/
.btn-long {
	padding: 1rem 2rem;
	border-top: solid 1px #DEDEDE;
}

.btn-long a {
	font-size: 1.625rem;
	display: block;
	width: 100%;
	height: 4rem;
	line-height: 4rem;
	text-align: center;
	color: #fff;
	border-radius: 5px;
}

.btn-long a:active {
	background-color: #E2E7ED;
}

.btn-long a span {
	padding-left: 1.6rem;
	background-size: 1.15rem auto;
}

.col-gray a {
	background-color: #dbdbdb;
}

.col-red a {
	background-color: #1073e3;
}

.btn-block {
	display: block;
	width: 100%;
	width: 100%;
	height: 4.5rem;
	line-height: 4.5rem;
	text-align: center;
	color: #fff;
	font-size: 1.5rem;
	background-color: #137bd7;
    border-radius: 5px;
}

.btn-block:active {
	background-color: #137bd6;
}

/*.btn-block i.add{
	display: inline-block;
	width: 39px;
	height: 39px;
	background: url(../img/hx-img/add-1.png) 50% 50% no-repeat;
	vertical-align: middle;
	background-size: 30px;
}*/

/*loading*/

.loading-after {
	position: relative;
}

.loading-after:after {
	content: '';
	display: block;
	width: 3px;
	height: 3px;
	border-radius: 100%;
	box-shadow: 0 -10px 0 1px currentColor, 10px 0px currentColor, 0 10px currentColor, -10px 0 currentColor, -7px -7px 0 0.5px currentColor, 7px -7px 0 1.5px currentColor, 7px 7px currentColor, -7px 7px currentColor;
	/* left-bottom */
	-webkit-animation: spin 1s steps(8) infinite;
	animation: spin 1s steps(8) infinite;
	/*center*/
	margin: 2rem auto 2rem 52%;
	
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


html.flex-layout, html.flex-layout body {
    width: 100%;
    height: 100%;
    overflow: hidden
}

.flex {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.flex .header {
    box-sizing: border-box
}

.flex .body {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.main {
    font-size: 1.2rem;
    background-color: #EBEBEB
}